<div class="submit-score-backdrop">
  <div class="modal-content">
    <h2 class="modal-title">Parabéns!</h2>
    <div class="modal-body">
      <p>Insira seu nome para salvar a pontuação no ranking ou volte para o Menu.</p>
      
      <div class="form-group">
        <div class="score">
            <p style="font-weight: bold;">Pontuação: {{ pontuacao }}</p>
        </div>
        <label for="name">Nome:</label>
        <input name="name" type="text" [(ngModel)]="nomeJogador" class="name-input" placeholder="Digite seu nome aqui">
      </div>

    </div>
    <div class="button-group">
      <button class="action-button submit-button" (click)="onSubmit()">Submeter</button>
      <button class="action-button ignore-button" (click)="onIgnore()">Menu</button>
    </div>
  </div>
</div>
