.game-header {

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;;

}

.game-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  left: 5px;
  background-color: white;
}